/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.comment{
   display:block;
   border: 1px solid lightblue;
   color:yellow;
   font-size: medium;
   font-style: italic;
   padding-top:15px;
   background-color: lightseagreen;
   /* text-transform: capitalize; */
   margin:10px;
   padding-left: 20px;
   padding-top:5px;
  
}

.margin{
  margin-top: 5px;;
}


h1{
  text-align:center;
  font-size: x-large;
}